.start {
  padding: 40px 0 50px;
  text-align: center;
  background-image: url('/images/bg-boost-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-violet;
}

.start-title {
  color: #FFFFFF;
}

.start-button {
  padding: 10px 20px;
}
