@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'variables';
@import './components/header.scss';
@import './components/preview.scss';
@import './components/form';
@import './components/statistics';
@import './components/start';
@import './components/footer';
@import './components/hamburger';
@import './components/loader';

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration-line: none;
}

button {
  border: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.text {
  color: $gray-violet;
}

.button {
  border-radius: 30px;
  font-family: inherit;
  transition: all 0.3s ease;
  background-color: $cyan;
  color: #fff;
}

.button:hover {
  background-color: $cyan-light;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.unscrollable {
  overflow-y: hidden;
}

.btn-disabled {
  background-color: $cyan-light;
}

.button-copied {
  background-color: $dark-violet;
}

.button-copied:hover {
  background-color: $gray-violet;
}

.delete-button {
  margin: 20px 0 0 auto;
  background-color: $gray-violet;
  color: #fff;
  font-style: inherit;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background-color: $gray;
}

.hidden {
  display: none;
}

@import './media/media';
