@import './variables';
@import './form';
@import './content';
@import './loader';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.header-wrap {
  height: 280px;
  padding-top: 4vh;
  background-position: center;
  background-size: cover;
  background-image: url(../images/pattern-bg.png);
}

.title {
  color: #FFFFFF;
  text-align: center;
}

.map {
  height: calc(100vh - 280px);
}

.leaflet-bottom.leaflet-right {
  display: none;
}